pyttsx3
SpeechRecognition
pyaudio

setuptools-rust
--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision
torchaudio
sacremoses
pysimplegui

transformers
sentencepiece

openai-whisper

python-dotenv